#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-icon_menu {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-icon_profil {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-icon_maison {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-icon_livre {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1ec1e7a4-b311-4bef-8dec-451c45425ffb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}