#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-icon_menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-icon_profil {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-icon_maison {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-icon_livre {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-checkbox_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-checkbox_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-checkbox_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-checkbox_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-21be5c82-dd3d-49d2-b072-25d8cbd3cacc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}