#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-wall {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-icon_menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-icon_profil {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-icon_maison {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-icon_livre {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf #s-Image_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2cd48f3c-16fc-48df-8c1f-334c5f83c0bf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}