#s-8c0eca62-ed7b-4fec-8c16-cafa24a5e3b8 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c0eca62-ed7b-4fec-8c16-cafa24a5e3b8 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-8c0eca62-ed7b-4fec-8c16-cafa24a5e3b8 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-8c0eca62-ed7b-4fec-8c16-cafa24a5e3b8 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8c0eca62-ed7b-4fec-8c16-cafa24a5e3b8 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c0eca62-ed7b-4fec-8c16-cafa24a5e3b8 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-8c0eca62-ed7b-4fec-8c16-cafa24a5e3b8 #s-Image_8 {
  -ms-transform: rotate(180.0deg);
}
#s-8c0eca62-ed7b-4fec-8c16-cafa24a5e3b8 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-8c0eca62-ed7b-4fec-8c16-cafa24a5e3b8 #s-icon_menu {
  -ms-transform: rotate(0.0deg);
}
#s-8c0eca62-ed7b-4fec-8c16-cafa24a5e3b8 #s-icon_profil {
  -ms-transform: rotate(0.0deg);
}
#s-8c0eca62-ed7b-4fec-8c16-cafa24a5e3b8 #s-icon_maison {
  -ms-transform: rotate(0.0deg);
}
#s-8c0eca62-ed7b-4fec-8c16-cafa24a5e3b8 #s-icon_livre {
  -ms-transform: rotate(0.0deg);
}
#s-8c0eca62-ed7b-4fec-8c16-cafa24a5e3b8 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8c0eca62-ed7b-4fec-8c16-cafa24a5e3b8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}