#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a #s-Image_8 {
  -ms-transform: rotate(180.0deg);
}
#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a #s-icon_menu {
  -ms-transform: rotate(0.0deg);
}
#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a #s-icon_profil {
  -ms-transform: rotate(0.0deg);
}
#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a #s-icon_maison {
  -ms-transform: rotate(0.0deg);
}
#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a #s-icon_livre {
  -ms-transform: rotate(0.0deg);
}
#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ad81e5c2-3f8b-4d18-8b99-d55f34119a4a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}