#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-icon_menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-icon_profil {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-icon_maison {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-icon_livre {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}