#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-icon_menu {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-icon_profil {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-icon_maison {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-icon_livre {
  -ms-transform: rotate(0.0deg);
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cd8c89c9-b2f8-4bee-9ce0-4286166c626d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}